/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


body{
  font-family: 'Alice', serif;

}
.industry{
  display: grid;
  grid-template-columns: 0.7fr 1fr;

}

.left{
  position: relative;
  width: 100%;
  height: 600px;
}
.img{
  position: relative;
  width: 100%;
  height: 100%;
}

.left img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
 
.left{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}


@media only screen and (max-width: 640px) {
 
  .left{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  
  }




.bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  background: #2d2d2d;
}
.option-btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
 
.bottom{
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  background: #2d2d2d;
}
.option-btns{
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}



    }
    
    
    @media only screen and (max-width: 640px) {
   
.bottom{
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  background: #2d2d2d;
}

.option-btns{
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #2d2d2d;
}


}
    
    










.option-btns li{
  list-style: none;
  padding: 10px;
}
.option-btn{
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in;
}
.option-btn:hover{
  color: gray;
}
.counter{
  color: white;
}
.right{
  width: 100%;
  height: 100vh;
  /* background-color: #ff7080; */
  overflow-y:auto;


}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
 
.right{
  width: 100%;
  height: 100vh;
  overflow-y:auto;
padding-top: 400px;

}
  }
  



 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 667px) {
 
  .right{
    width: 100%;
    height: 100vh;
    overflow-y:auto;
  padding-top: 450px;
  
  }
    } 

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 731px) {
 
  .right{
    width: 100%;
    height: 100vh;
    overflow-y:auto;
  padding-top: 440px;
  
  }
    } 


    
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 736px) {
 
  .right{
    width: 100%;
    height: 100vh;
    overflow-y:auto;
  padding-top: 460px;
  
  }
    } 
  
    @media only screen and (max-width: 812px) {
 
      .right{
        width: 100%;
        height: 100vh;
        overflow-y:auto;
      padding-top: 100px;
      
      }
        } 
      

  /* @media only screen and (max-width: 640px) {
   
.right{
  width: 100%;
  height: 100vh;
  padding-top: 400px;
  overflow-y:auto;


}
    } */
  




/*     
  
   
    @media only screen and (max-width: 812px) {
   
      .right{
        width: 100%;
        height: 100vh;
        padding-top: 10px;
        overflow-y:auto;
      
      
      }
          } */
        
        

  
/*    
          @media only screen and (max-width: 1024px) {
   
            .right{
              width: 100%;
              height: 100vh;
              padding-top: 50px;
              overflow-y:auto;
            
            
            }
                }
               */
              



/* Hide scrollbar for Chrome, Safari and Opera */
.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.blog{
  animation: fade 0.7s ease-in;
  padding: 5vw
}

/* 

@media only screen and (max-width: 1280px) {

  .blog{
    animation: fade 0.7s ease-in;
    padding: 20px;
  }

} */
.blog p{
  /* margin: 3vh 0; */
  text-align: justify;
  line-height: 1.6rem;
  font-family: 'Alice', serif;
  margin: 10px 0;
  /* font-size: 1.1rem; */
}
.blog h1{
  font-family: 'Alice', serif;
  margin: 1.8rem 0;
  width: 18ch;
}
.blog h3{
  margin: 1rem 0;
  font-family: 'Alice', serif;
}
.blog img{
  width: 100%;
  height: minmax(20vw, 30vw);
  object-fit: cover;
  margin: 1.5rem 0;
  /* border-radius: 1rem; */
}
.blog ul{
  margin-left: 1rem;
  padding: 5px 20px 5px;
  margin: 0;
  padding-left: 30px;
  text-align: justify;
  font-size: 16px;
  list-style: decimal;
  font-family: 'Alice', serif;

}

.blog ul li{
  margin-left: 2rem;
  font-family: 'Alice', serif;
  padding: 2px 0px 0px;
  margin: 0;
  text-align: justify;
  font-size: 16px;
  list-style: decimal;
  font-family: 'Alice', serif;

}



@media (max-width:1000px){
  .industry{
    grid-template-columns: 1fr
  }
  .blog img{
    height: 30vw;
  }
  .left{
    height: 50vh;
  }
  .right{
      overflow-y: visible;
      height: 100%;
  }
  .bottom{
    bottom: -3rem;
        background: none;
  }
  .option-btn, .counter{
    color: white;
    padding-left: 10px;
  }
}


@media (max-width:653px){
  .blog{
    padding: 5rem 2rem;
  }
  .blog img{
    height: 50vw;
  }
  .blog h1{
    width: 12ch;
    padding-top: 320px;

  }


}




@media (max-width:768px){
  .blog{
    padding: 5rem 2rem;
    padding-top: 465px;
  }
  .blog img{
    height: 50vw;
  }
  .blog h1{
    width: 12ch;
  }


}






@keyframes fade {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


h5{
  background-color: #DB251F;
  color: white;
  /* height: 50px; */
  padding-left: 10px;
  font-family: 'Alice', serif;

  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media only screen and (max-width: 360px) {
  h5{
    /* height: 70px; */
    text-align: center;
    padding-top: 14px;
    font-family: 'Alice', serif;

  }
}
@media only screen and (max-width: 640px) {
  h5{
    /* height: 70px; */
 text-align: center;
    padding-top: 18px;
    font-family: 'Alice', serif;

    /* padding-bottom: 18px; */

  }
}