/*
Removes white gap between slides
*/

/* 
.carousel-caption1 {
  font-size: 12px;
  width: 400px;
  height: auto;
position: absolute;
bottom: 100px;
left: 10px;
font-family: "arial", Arial, Helvetica, sans-serif;

z-index: 10;
padding-top: 20px;
padding-bottom: 40px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: #000000a8;
  font-weight: bold;
}



.carousel-caption1  h3{
    
  color: #fff;
  font-size: 22px;
  }

.carousel-caption1 p{
  color:white;
  font-size: 18px;
} */


body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

 }

  h3,h6{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  }

.carousel-control {
  text-shadow: 0;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%) !important;
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%) !important;
}



  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1{
    font-size: 12px;
    width: 100px;
    height: 180px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}


  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1  h3{
    
  color: #fff;
  font-size: 9px;
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1  h6{
    
  color: #fff;
  font-size: 6px;
  }
}

















/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1{
    font-size: 12px;
    width: 100px;
    height: 170px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 7px;
    }
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1   h6{
    
    color: #fff;
    font-size: 5px;
    }
  }











































/* Extra small devices (phones, 640px and down) */
@media only screen and (min-width: 700px) {
  .carousel-caption1{
    font-size: 12px;
    width: 420px;
    height: 10px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {

  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 24px;
    }
  }


  @media only screen and (min-width: 700px) {

    .carousel-caption1   h6{
    
      color: #fff;
      font-size: 18px;
      }
    }
  



















/* Extra small devices (phones, 640px and down) */
@media only screen and (min-width: 900px) {
  .carousel-caption1{
    font-size: 12px;
    width: 320px;
    height: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 24px;
    }
  }







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

  .carousel-caption1   h6{
    
    color: #fff;
    font-size: 18px;
    }
  }

























/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel-caption1{height: 190px;}
}







@media only screen and (max-width: 640px) {
.slogan h3 {
font-size: 18px;
}




}




































  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .item  img{height: 190px;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .item  img{height: 190px;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .item  img{height: 190px;}
}
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item  img{height: 190px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .item  img{height: 190px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item  img{height: 190px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item  img{height: 190px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item  img{height: 560px;}
}








































.carousel {
  background:#444;
  /* height: 900px; */
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  object-fit:unset;
  /* height:900px; */
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;

  
}

.carousel-caption{
 width: 470px;
 left: 2%;
 right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: start;
  background-color: #000000a8;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel {
    height: 460px;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  .carousel {
    height: 460px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {
  .carousel {
    height: 560px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  .carousel {
    height: 925px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel {
    height: 560px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel {
    height: 560px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .carousel {
    height: 560px;
  }
}











/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {

  .carousel-item .img-fluid {
    height: 560px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {

  .carousel-item .img-fluid {
    height: 500px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

  .carousel-item .img-fluid {
    height: 560px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  
.carousel-item .img-fluid {
    height: 925px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .carousel-item .img-fluid {
    height: 560px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .carousel-item .img-fluid{
    height: 560px;
    width: 100%;
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  .carousel-item .img-fluid{
    height: 560px;
    width: 100%;
    object-fit: cover;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

  .carousel-item .img-fluid{
    height: 560px;
    width: 100%;
  }
}








  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1{
    font-size: 12px;
    width: 100px;
    height: 180px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}


  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1  h3{
    
  color: #fff;
  font-size: 9px;
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .carousel-caption1  h6{
    
  color: #fff;
  font-size: 6px;
  }
}

















/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1{
    font-size: 12px;
    width: 300px;
    height: 180px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 18px;
    }
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .carousel-caption1   h6{
    
    color: #fff;
    font-size: 12px;
    }
  }














































/* Extra small devices (phones, 640px and down) */
@media only screen and (min-width: 700px) {
  .carousel-caption1{
    font-size: 12px;
    width: 420px;
    height: 200px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {

  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 24px;
    }
  }


  @media only screen and (min-width: 700px) {

    .carousel-caption1   h6{
    
      color: #fff;
      font-size: 18px;
      }
    }
  



















/* Extra small devices (phones, 640px and down)*/
@media only screen and (min-width: 900px) {
  .carousel-caption1{
    font-size: 12px;
    width: 350px;
    height: 200px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 24px;
    }
  }







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

  .carousel-caption1   h6{
    
    color: #fff;
    font-size: 18px;
    }
  }





































/* Extra small devices (phones, 640px and down)*/
@media only screen and (min-width: 1200px) {
  .carousel-caption1{
    font-size: 12px;
    width: 350px;
    height: 210px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000000a8;
    font-weight: bold;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

  .carousel-caption1  h3{
    
    color: #fff;
    font-size: 24px;
    }
  }







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

  .carousel-caption1   h6{
    
    color: #fff;
    font-size: 18px;
    }
  }






@media only screen and (max-width: 640px) {
.slogan h5 {
  padding-top: 85px;
  padding-bottom: 30px;
font-size: 20px;
}




}




































